<div class="container-fluid" id="contact">

<form class="kontakt form-group" action="/" method="post">

<input type="email" class="form-control" name="email" placeholder="Email">
<input type="text" class="form-control" name="title" placeholder="Title">
<textarea name="content" class="form-control" rows="5" cols="80" placeholder="Contact My!"></textarea>
<button type="post" class="btn btn-dark" name="button">Send!</button>


</form>





</div>
