<div class="container-fluid parallax" id="main">
	<div class="slide-right">

		<div class="p1">
			<h1>My name is Sebasian,</h1>
			<h2>and i think about learning to code <br> for a few years now.<h2>

		</div>
		<div class="p2">
			<p>But here we are after some weeks of learning and training <br> i got i stack to use.</p>
			<p>And here my code advenure begins,<br> at creating and maintaing websites.</p>
		</div>

	</div>

	<div class="slide-left">
		<h3>This website for starters.</h3>

	</div>

</div>
<div class="jumbo"></div>
