<div id="stack">
	<h1 style="padding: 10px">Stack</h1>
	<div id="grid-containter">
		<div class="row">


			<div class="col">


				<div class="card-grid">
					<div class="front">
						<i class="fab fa-html5 fa-5x "></i>

					</div>
					<div class="back">
						<div class="row back">
							<div class="col back">
								<i class="fab fa-bootstrap fa-5x "></i>

							</div>
							<div class="col back">
								<i class="fab fa-css3-alt fa-5x "></i>

							</div>

						</div>


					</div>
				</div>

			</div>


			<div class="col">
				<div class="card-grid">
					<div class="front">
						<i class="fab fa-js-square fa-5x "></i>
					</div>
					<div class="back">
						<a style="color: white;" class="glow" href="https://edabit.com/user/unyy68HtyXgNhwyr2"> <h2>My JS challanges practice</h2> </a>
					</div>
				</div>
			</div>

			<div class="col">

				<div class="card-grid">
					<div class="front">
						<i class="fab fa-node fa-6x "></i>
					</div>
					<div class="back">
						<div class="row back">
							<div class="col back">
								<p style="font-size: 40px; color:#0769AD;">jQuery</p>
							</div>
							<div class="col back">
								<i class="fab fa-npm fa-5x "></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col align-self-center">

				<div class="card-grid ">
					<div class="front">
						<i class="fab fa-github fa-5x "></i>
					</div>
					<div class="back">
						<a style="color: white;" class="glow" href="https://github.com/Spaiker5"><h1>My Github</h1></a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="jumbo"></div>
